[PrivacyParams]
Epsilon=5
InputPrivacy = yes
CustomHistogram = yes
ExponentialHistogram =no
NoisyMechanism = no
CheckTrainingAccuracy = yes


[TrainingInfo]
Algorithm = NAIVEBAYES
DebugLevel = INFO
n_trees = 15
max_depth = 5
min_size = 1
ReducedDimension=20
NumBins = 10
multiplier = 100
randomstate = 1245

[NetworkIDs]
Party1IP=127.0.0.1
Party1Port = 12124

[DataInfo]
Party1Normal=smc_track_data/BCTCGA-Normal-train.txt
Party1Tumor=smc_track_data/BCTCGA-Tumor-train.txt

Party2Normal=smc_track_data/BCTCGA-Normal-train.txt
Party2Tumor=smc_track_data/BCTCGA-Tumor-train.txt

TestNormalFile=smc_track_data/BCTCGA-Normal-train.txt
TestTumorFile=smc_track_data/BCTCGA-Tumor-train.txt
CSVDelimiter=\t
